* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template:"header header" 0.1fr
                  "main aside" 1fr
                  "footer footer" 0.1fr
/ 0.6fr 0.4fr;
    min-height: 100vh;
    font-family: "Instrument Serif", serif;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 20px;
    grid-area: header;
    border-bottom: black solid 1px;
    font-size: 20px;
}

.linkTo {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}
 #button {
     height: 25px;
     width: 50px;
     background-color: white;
     border: black solid 1px;
 }

 #button:hover {
     background-color: darkgray;
 }

 #button:active {
     background-color: black;
     color: white;
 }

main {
    display: flex;
    align-items: center;
    grid-area: main;
    padding-left: 50px;
}

main h1 {
    font-size: 15vw;
}

aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-area: aside;
    padding: 10% 0 40px 20px;
    border-left: black solid 1px;
    font-size: 20px;
    line-height: 50px;
}



.profilePic {
    width: auto;
    height: 35%;
    position: absolute;
    z-index: 1;
    margin: 3% 0 0 3%;

}

/*.profilePic:hover {*/
/*    transform: scale(1.15);*/
/*}*/

.borderPic {
    width: 15%;
    height: 35%;
    border: black 1px solid;
    position: absolute;
    margin-left: 7%;
}
footer {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: footer;
    padding-right: 10%;
    border-top: black solid 1px;
}

@media screen and (max-width: 1000px) {
    body {
        display: grid;
        grid-template:"header" 0.1fr
                      "main" 0.5fr
                      "aside" 0.5fr
                      "footer" 0.1fr
        / 1fr;
    }
    main {
        height: 60vh;
    }
    main h1 {
        font-size: 15vw;
    }
    aside {
        border-top: 1px black solid;
        border-left: none;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}



.mainAbout {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10%;
    padding-right: 5%;
}

.pageTitle {
    font-size: 6vw;
    text-decoration: underline;
}




.codePic {
    height: auto;
    width: 90%;
}

.game {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#game1 {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

#input {
    width: 50%;
    font-size: 20px;
    font-family: "Instrument Serif", serif;
}

.buttonGame {
    width: 25%;
    height: 30px;
    border: black solid 1px;
    background-color: white;
}

.buttonGame:hover {
    background-color: darkgray;
}

#result {

}
