* {
    margin: 0;
    padding: 0;
}

/*Layout van de website*/
body {
    display: grid;
    grid-template:"header header" 0.1fr
                  "main aside" 1fr
                  "footer footer" 0.1fr
/ 0.6fr 0.4fr;
    min-height: 100vh;
    font-family: "Instrument Serif", serif;
    background-color: white;
    background-color: white;
    color: black;
    border-color: black;

}
/*Darkmode body*/
.dark-mode {
    color: white;
    background-color: black;
}

/*Darkmode voor links*/
.dark-mode a {
    color: white;
}

/*Darkmode voor de borders, want border-color in .dark-mode werkt niet*/
.dark-mode header {
    border-bottom: white solid 1px;
}

.dark-mode aside {
    border-left: white solid 1px;
}

.dark-mode footer {
    border-top: white solid 1px;
}

.dark-mode .borderPic {
    border: white 1px solid;
}


/*Layout header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 20px;
    grid-area: header;
    border-bottom: black solid 1px;
    font-size: 20px;
}
/*Layout link*/
.linkTo {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

 /*Opmaak van de darkmode button*/
 #button {
     height: 25px;
     width: 50px;
     background-color: white;
     border: black solid 1px;
 }

 #button:hover {
     background-color: darkgray;
 }

 #button:active {
     background-color: black;
     color: white;
 }

/*Layout main*/
main {
    display: flex;
    align-items: center;
    grid-area: main;
    padding-left: 50px;
}
/*main titel*/
main h1 {
    font-size: 15vw;
}

/*Layout aside*/
aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-area: aside;
    padding: 10% 0 40px 20px;
    border-left: black solid 1px;
    font-size: 20px;
    line-height: 50px;
}

/*Profielfoto*/
.profilePic {
    width: auto;
    height: 35%;
    position: absolute;
    z-index: 1;
    margin: 3% 0 0 3%;

}

/*.profilePic:hover {*/
/*    transform: scale(1.15);*/
/*}*/

/*Rand om de profielfoto*/
.borderPic {
    width: 15%;
    height: 35%;
    border: black 1px solid;
    position: absolute;
    margin-left: 7%;
}

/*Layout footer*/
footer {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: footer;
    padding-right: 10%;
    border-top: black solid 1px;
}

/*Media query Tablet landscape*/

@media screen and (max-width: 1050px) {
    body {
        display: grid;
        grid-template:"header" 0.1fr
                      "main" 0.5fr
                      "aside" 0.5fr
                      "footer" 0.1fr
        / 1fr;
    }
    main {
        height: 70vh;

    }
    main h1 {
        font-size: 15vw;
    }
    aside {
        border-top: 1px black solid;
        border-left: none;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        height: 60vh;
    }
}
/*Media query tablet portrait*/
@media screen and (max-width: 770px) {

}

/*Media query mobile*/
@media screen and (max-width: 400px) {

}

/*Layout main van de pagina's about, work, process*/
.main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10%;
    padding-right: 5%;
}
/*Titel van de pagina's about, work en process*/
.pageTitle {
    font-size: 6vw;
    text-decoration: underline;
}

/*Afbeelding pagina work*/
.codePic {
    height: auto;
    width: 90%;
}

/*Rock, paper and scissors spel*/
/*Layout aside process*/
#asideGame {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

/*Layout spel*/
.game {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Text Field*/
#input {
    width: 50%;
    font-size: 20px;
    font-family: "Instrument Serif", serif;
}

/*Spel button*/
.buttonGame {
    width: 25%;
    height: 30px;
    border: black solid 1px;
    background-color: white;
}

.buttonGame:hover {
    background-color: darkgray;
}
