* {
    margin: 0;
    padding: 0;
}

/*Layout van de website*/
/*min-height aangegeven want anders vult hij niet het hele scherm*/
body {
    display: grid;
    grid-template:"header header" 0.1fr
                  "main aside" 0.8fr
                  "footer footer" 0.1fr
/ 0.6fr 0.4fr;
    font-family: "Instrument Serif", serif;
    /*background-color: #12403C;*/
    /*color: #DED5CB;*/

    min-height: 100vh;
    letter-spacing: .15rem;
}

/*Layout header*/

/*verticaal gecentreerd en met space-between maximale ruimte er tussen gegeven.*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    grid-area: header;
    border-bottom: black solid 1px;
    font-size: 20px;
}

/*Layout links*/
/*Een width van 60% gegeven zodat de links genoeg ruimte hebben.*/
.linkTo {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

/*Transition hier gedefinieerd zodat wanneer je pointer er niet meer overheen hovert hij ook een transition heeft */
#headerTitle {
    transition: all ease-in-out 0.5s;
}

#headerTitle:hover {
    text-decoration: none;
    font-size: larger;
}

/*Underline weggehaald want ik wil graag dat hij bij hover het juist laat zien*/
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

/*Opmaak van de darkmode button*/
#button {
    background-color: lightsteelblue;
    border: black solid 1px;
    padding: 5px;
}

#button:hover {
    background-color: steelblue;

}

#button:active {
    background-color: midnightblue;
    color: white;
}

/*Hier geef ik aan wat er moet gebeuren nadat mijn JS darkmode functie wordt uitgevoerd.*/
/*Ik toggle mijn JS met deze css class want dat bespaard veel code*/
/*Ik moet wel aangegeven dat ook mijn a-tags etc moeten veranderen. Anders werkt het niet*/
/*Darkmode body*/
.dark-mode {
    color: white;
    background-color: black;
}

/*Darkmode voor links*/
.dark-mode a {
    color: white;
}

/*Darkmode voor de borders*/
.dark-mode header {
    border-bottom: white solid 1px;
}

.dark-mode aside {
    border-left: white solid 1px;
}

.dark-mode footer {
    border-top: white solid 1px;
}

/*Profielfoto niet vergeten anders blijft de border zwart*/
.dark-mode .profilePic {
    border: white 1px solid;
}

.dark-mode table {
    color: black;
}

.dark-mode .input-div {
    border: white 1px solid;
}

/*Layout main*/

main {
    display: flex;
    grid-area: main;
    padding-left: 20px;
    /*margin-right: 20px;*/
    /*justify-content: space-between;*/
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    padding-right: 20px;
}

/*main titel met typewriter animatie. Mijn oude styling van H1 weggehaald want dat was overbodig met deze nieuwe style*/
/*uiteindelijk wat divs weggehaald want die hadden blijkbaar geen functie. */
/*Ik moet er op letten dat ik niet teveel code herhaal.*/
.typewriter {
    height: 100%;
    display: flex;
    align-items: end;
}
.typewriter h1 {
    font-size: 15vw;
    font-weight: normal;
    margin-inline: auto;
    overflow: hidden;
    /*De zwarte lijn achter de tekst*/
    border-right: 1px solid;
    animation: typing 3s steps(20) forwards,
    blink 1s step-end infinite;
    /*white-space: nowrap;*/
}

/*zorgt ervoor dat de typing animatie van width 0 naar 100% verloopt*/
/*80% zorgt ervoor dat niet de gehele tekst wordt getoond*/
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/*zorgt ervoor dat op 50% van de 'blink' tijd transparant wordt*/
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/*Layout aside*/
/*Hier moet ik nog even kijken hoe dit ik mooier kan maken*/
/*Ik heb deze indeling gemaakt kijkend naar mijn homepage maar dit heeft invloed op elke aside. Niet zo handig*/
/*Misschien mijn aside op mijn homepage een class geven en die met padding etc sturen. Dan kan ik dat bij deze tag weghalen.*/
/*Werkt inderdaad beter! Wel een beetje padding behouden. Geen specifieke style meer.*/
aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-area: aside;
    border-left: black solid 1px;
    font-size: 20px;
    padding: 5%;

}

/*Profielfoto*/
.profilePic {
    height: auto;
    width: 40%;
    margin-left: 5%;
    padding: 3% 3% 3% 3%;
    transition: all ease-in 0.5s;
    /*box-shadow: darkgray 20px -20px;*/
    border: 1px solid black;
}

.portfolio-button button {
    background-color: lightsteelblue;
}

.profilePic:hover {
    transform: scale(1.15);
}

/*Styling voor de aside op de homepage.*/
.homepage {
    line-height: 35px;
}

/*indeling van de profielfoto en about me button.*/
.home-section {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.home-section button {
    height: 3rem;
    background: white;
    border: black 1px solid;
}

/*De tekst boven de variabelen op de portfolio pagina*/
.descr {
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: underline;
}

.login-pic {
    width: 50%;
}

/*Layout footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: footer;
    padding: 0 20px 0 20px;
    border-top: black solid 1px;
}

/*Layout main van de pagina's portfolio, my profile, about en blog*/

form {
    /*height: 50%;*/
    /*width: 100%;*/
    display: flex;
    justify-content: space-between;
}

.blogs input {
    height: 100%;
}

.blogs button {
    width: 100%;
    height: 10%;
    font-size: 20px;
}

/*Titel van de pagina's about, work en process*/
.pageTitle {
    font-size: 6vw;
    text-decoration: underline;
    font-weight: normal;
    width: 100%;
}
/*opmaak van de invoervelden van my profile*/
.account-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80%;
    width: 100%;
}
.account-form input {
    height: 3em;
}
/*knop van profile page*/
.account-form button {
    margin-top: 2rem;
    font-size: 20px;
}


/*Rock, paper and scissors spel*/
/*Layout aside about*/
.about-text {
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#asideGame {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

/*Layout spel*/
.game {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Text Field*/
#input {
    width: 50%;
    font-size: 20px;
    font-family: "Instrument Serif", serif;
}

/*Spel button*/
.buttonGame {
    width: 25%;
    height: 30px;
    border: black solid 1px;
    font-family: "Instrument Serif", serif;
    font-size: 20px;
    background-color: lightsteelblue;
}

.buttonGame:hover {
    background-color: steelblue;
}

.profile-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-aside button {
    margin-top: 25%;
    font-size: 20px;
    font-family: "Instrument Serif", serif;
}

/*max-height aangeven anders worden de blogs heel groot en is de website niet verhouding*/
.blogs {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 90%;
    max-height: 45vh;
    /*width: 100%;*/
    flex-wrap: wrap;
    overflow-y: scroll;
}

/*opmaak van de geposte blogs*/
.input-div {
    width: 40%;
    height: 80%;
    border: 1px solid black;
    margin-bottom: 5%;
    padding: 1rem;
    background-color: aliceblue;
}

/*Titel van de aside blog*/
.blog-title {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 5%;
}
/*form van de blog*/
.blog-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}
/*invoerveld van author en title*/
.blog-form #author, .blog-form #title {
    height: 10%;
}

/*invoerveld van post*/
.blog-form #post {
    height: 20vh;
    margin-bottom: 5%;
}


/*Main indeling van de work pagina*/
#work-page {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.table-container {
    width: 100%;
    /*min-height: 60vh;*/
    max-height: 60vh;
    overflow-y: scroll;
}

.profile-description {
    min-width: 95%;
    margin-top: 5%;
}

.profile-description tr {
    height: 5rem;
}

table, th, td {
    border: black 1px solid;
    border-collapse: collapse;
    text-align: center;
}

/*om de th sticky te maken moet ik eerst de table als relative definieren*/
table {
    position: relative;
}

th {
    background-color: lightsteelblue;
    top: 0;
    position: sticky;
}

td {
    background-color: aliceblue;
}

/*Indeling Login pagina*/
.login-page {
    display: grid;
    grid-template: "header" 0.1fr
                   "main" 0.9fr
/ 1fr;

}

/*Header login pagina*/
.login-header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

/*main login pagina*/
.login-main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Username en Password form*/
.login-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40%;
}

/*Username en password apart*/
.login-form input {
    margin-top: 10%;
    height: 10%;
    border-radius: 4rem;
    text-align: center;
    font-family: "Instrument Serif", serif;
    font-size: 20px;
}

/*de section voor de buttons*/
.login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;

}

/*omdat de button de child is van a moet ik eerst a een width geven om daarna*/
/*de breedte van elke a is dus 40% van de beschikbare ruimte*/
.login-buttons a {
    width: 40%;
}

/*de buttons in a moeten wel 100% van de breedte vullen*/
.login-buttons a button {
    width: 100%;
    margin-top: 1rem;
    height: 2rem;
    background-color: lightsteelblue;
    border-radius: 20px;
    font-family: "Instrument Serif", serif;
    font-size: 20px;
}

.login-page button:hover {
    background-color: steelblue;
}

button {
    font-family: "Instrument Serif", serif;
    background-color: lightsteelblue;
    border: black 1px solid;
    padding: 5px;
}

button:hover {
    cursor: pointer;
    background-color: steelblue;
}

@media screen and (max-width: 740px ) {
    body {
        display: grid;
        grid-template:
                      "header" 0.1fr
                      "main" 0.6fr
                      "aside" 0.2fr
                      "footer" 0.1fr
    / 1fr;
    }

    main {
        padding: 5%;
    }
    #main-portfolio {
        height: 35vh;
    }

    aside {
        border-left: none;
        border-top: black solid 1px;
    }
    .profilePic {
        margin-top: 10%;
    }

    #blogpage {
        grid-area: aside;
        border-top: black 1px solid;
    }

    #blog-input {
        grid-area: main;
        height: 40vh;
        border-top: none;
    }
}

/*Media query tablet portrait*/
@media screen and (max-width: 620px) {
    body {
        display: grid;
        grid-template:
                      "header" 0.1fr
                      "main" 0.2fr
                      "aside" 0.6fr
                      "footer" 0.1fr
    / 1fr;
    }

    main {
        padding-top: 7%;
        height: 50vh;
    }

    .typewriter h1 {
        font-size: 20vw;
    }

    aside {
        border-left: none;
        border-top: black solid 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 5%;
    }

    .table-container {
        margin-bottom: 5%;
        max-width: 90vw;
        overflow-x: scroll;
    }
    .blog-title {
        font-size: 7vw;
    }

}

/*Media query mobile*/
/*Hier moet ik de hamburger menu gaan maken.*/
/*Ik weet alleen nog niet goed hoe het moet.*/
@media screen and (max-width: 400px) {
    body {
        display: grid;
        grid-template:
                      "header" 0.1fr
                      "main" 0.1fr
                      "aside" 0.7fr
                      "footer" 0.1fr
    / 1fr;
    }

    main {
        height: 50vh;
    }

    .typewriter h1 {
        font-size: 25vw;
    }

    aside {
        padding-right: 5%;
    }

    .table-container {
        overflow-x: scroll;
    }

    a {
        font-size: 15px;
    }

    .blogs {
        display: flex;
        justify-content: center;
    }
    .input-div {
        width: 70vw;
    }
}