* {
    margin: 0;
    padding: 0;
}

/*Layout van de website*/
body {
    display: grid;
    grid-template:"header header" 0.1fr
                  "main aside" 0.8fr
                  "footer footer" 0.1fr
/ 0.6fr 0.4fr;
    font-family: "Instrument Serif", serif;
    background-color: white;
    color: black;
    min-height: 100vh;
}

/*Darkmode body*/
.dark-mode {
    color: white;
    background-color: black;
}

/*Darkmode voor links*/
.dark-mode a {
    color: white;
}

/*Darkmode voor de borders, want border-color in .dark-mode werkt niet*/
.dark-mode header {
    border-bottom: white solid 1px;
}

.dark-mode aside {
    border-left: white solid 1px;
}

.dark-mode footer {
    border-top: white solid 1px;
}

.dark-mode .borderPic {
    border: white 1px solid;
}


/*Layout header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    grid-area: header;
    border-bottom: black solid 1px;
    font-size: 20px;
}

/*Layout link*/
.linkTo {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
#headerTitle {
    transition: all ease-in-out 0.5s;
}

#headerTitle:hover {
    text-decoration: none;
    font-size: larger;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

/*Opmaak van de darkmode button*/
#button {
    background-color: white;
    border: black solid 1px;
    font-family: 'Instrument Serif', serif;
    padding: 5px
}

#button:hover {
    background-color: darkgray;
}

#button:active {
    background-color: black;
    color: white;
}

/*Layout main*/
main {
    display: flex;
    align-items: end;
    grid-area: main;
    padding-left: 2rem;
}

/*main titel met typewriter animatie. Mijn oude styling van H1 weggehaald want dat was overbodig met deze nieuwe style*/
/*uiteindelijk wat divs weggehaald want die hadden blijkbaar geen functie. */
/*Ik moet er op letten dat ik niet teveel code herhaal.*/
.typewriter h1 {
    font-size: 15vw;
    font-weight: normal;
    margin-inline: auto;
    overflow: hidden;
    /*De zwarte lijn achter de tekst*/
    border-right: 1px solid;
    animation: typing 3s steps(12) forwards,
    blink 1s step-end infinite;
}
/*zorgt ervoor dat de typing animatie van 0 naar 100% verloopt*/
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;

    }
}
/*zorgt ervoor dat hij 50% van de 'blink' tijd transparant is*/
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/*Layout aside*/
aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-area: aside;
    padding: 10% 0 40px 20px;
    border-left: black solid 1px;
    font-size: 20px;
    line-height: 50px;
}

/*Profielfoto*/
.profilePic {
    height: auto;
    width: 35%;
    margin-left: 5%;
    padding: 3% 3% 3% 3%;
    transition: all ease-in 0.5s;
    /*box-shadow: darkgray 20px -20px;*/
    border: 1px solid black;
}

.profilePic:hover {
    transform: scale(1.15);
}

.homepage {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.homepage button {
    height: 2rem;
    width: 35%;
    margin: 5% 0 0 8%;
    background: white;
    border: black 1px solid;
}

.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.scroll-container img {
    padding: 10px;
}

.js-logo {
    max-height: 60%;
}

/*Layout main Blog*/

/*Layout footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: footer;
    padding-left: 20px;
    padding-right: 20px;
    border-top: black solid 1px;
}


/*Layout main van de pagina's about, work, process*/
.main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10%;
    padding-right: 5%;
}

/*Titel van de pagina's about, work en process*/
.pageTitle {
    font-size: 6vw;
    text-decoration: underline;
    font-weight: normal;
}

/*Afbeelding pagina work*/
.codePic {
    height: auto;
    width: 90%;
}

aside form {
    padding-bottom: 20%;
}

/*Rock, paper and scissors spel*/
/*Layout aside process*/
#asideGame {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

/*Layout spel*/
.game {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Text Field*/
#input {
    width: 50%;
    font-size: 20px;
    font-family: "Instrument Serif", serif;
}

/*Spel button*/
.buttonGame {
    width: 25%;
    height: 30px;
    border: black solid 1px;
    background-color: white;
}

.buttonGame:hover {
    background-color: darkgray;
}



/*Media query Tablet landscape*/
@media screen and (max-width: 950px) {
    .profilePic {
        width: 50%;
        height: auto;
    }
}

/*Media query tablet portrait*/
@media screen and (max-width: 620px) {
    body {
        display: grid;
        grid-template:
                      "header" 0.1fr
                      "main" 0.4fr
                      "aside" 0.4fr
                      "footer" 0.1fr
    / 1fr;
    }

    main {
        padding-top: 7%;
    }

    main h1 {
        font-size: 20vw;
    }

    aside {
        border-left: none;
        border-top: black solid 1px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-right: 5%;
    }

    .aside-work {
        display: flex;
        justify-content: center;
    }

}

/*Media query mobile*/
@media screen and (max-width: 400px) {

}
