* {
    margin: 0;
    padding: 0;
}

/*Layout van de website*/
/*min-height aangegeven want anders vult hij niet het hele scherm*/
body {
    display: grid;
    grid-template:"header header" 0.1fr
                  "main aside" 0.8fr
                  "footer footer" 0.1fr
/ 0.6fr 0.4fr;
    font-family: "Instrument Serif", serif;
    background-color: white;
    color: black;
    min-height: 100vh;
}

/*Layout header*/

/*verticaal gecentreerd en met space-between maximale ruimte er tussen gegeven.*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    grid-area: header;
    border-bottom: black solid 1px;
    font-size: 20px;
}

/*Layout links*/
/*Een width van 60% gegeven zodat de links genoeg ruimte hebben.*/
.linkTo {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

/*Transition hier gedefinieerd zodat wanneer je pointer er niet meer overheen hovert hij ook een transition heeft */
#headerTitle {
    transition: all ease-in-out 0.5s;
}

#headerTitle:hover {
    text-decoration: none;
    font-size: larger;
}

/*Underline weggehaald want ik wil graag dat hij bij hover het juist laat zien*/
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

/*Opmaak van de darkmode button*/
#button {
    background-color: white;
    border: black solid 1px;
    font-family: 'Instrument Serif', serif;
    padding: 5px
}

#button:hover {
    background-color: darkgray;
}

#button:active {
    background-color: black;
    color: white;
}

/*Hier geef ik aan wat er moet gebeuren nadat mijn JS darkmode functie wordt uitgevoerd.*/
/*Ik toggle mijn JS met deze css class want dat bespaard veel code*/
/*Ik moet wel aangegeven dat ook mijn a-tags etc moeten veranderen. Anders werkt het niet*/
/*Darkmode body*/
.dark-mode {
    color: white;
    background-color: black;
}

/*Darkmode voor links*/
.dark-mode a {
    color: white;
}

/*Darkmode voor de borders*/
.dark-mode header {
    border-bottom: white solid 1px;
}

.dark-mode aside {
    border-left: white solid 1px;
}

.dark-mode footer {
    border-top: white solid 1px;
}

/*Profielfoto niet vergeten anders blijft de border zwart*/
.dark-mode .profilePic {
    border: white 1px solid;
}


/*Layout main*/

main {
    display: flex;
    align-items: end;
    grid-area: main;
    padding-left: 20px;
}

/*main titel met typewriter animatie. Mijn oude styling van H1 weggehaald want dat was overbodig met deze nieuwe style*/
/*uiteindelijk wat divs weggehaald want die hadden blijkbaar geen functie. */
/*Ik moet er op letten dat ik niet teveel code herhaal.*/
.typewriter h1 {
    font-size: 15vw;
    font-weight: normal;
    margin-inline: auto;
    overflow: hidden;
    /*De zwarte lijn achter de tekst*/
    border-right: 1px solid;
    animation: typing 3s steps(12) forwards,
    blink 1s step-end infinite;
}

/*zorgt ervoor dat de typing animatie van width 0 naar 100% verloopt*/
/*80% zorgt ervoor dat niet de gehele tekst wordt getoond*/
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;

    }
}

/*zorgt ervoor dat op 50% van de 'blink' tijd transparant wordt*/
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/*Layout aside*/
/*Hier moet ik nog even kijken hoe dit ik mooier kan maken*/
/*Ik heb deze indeling gemaakt kijkend naar mijn homepage maar dit heeft invloed op elke aside. Niet zo handig*/
/*Misschien mijn aside op mijn homepage een class geven en die met padding etc sturen. Dan kan ik dat bij deze tag weghalen.*/
/*Werkt inderdaad beter! Wel een beetje padding behouden. Geen specifieke style meer.*/
aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-area: aside;
    border-left: black solid 1px;
    font-size: 20px;
    padding: 5%;

}

/*Profielfoto*/
.profilePic {
    height: auto;
    width: 35%;
    margin-left: 5%;
    padding: 3% 3% 3% 3%;
    transition: all ease-in 0.5s;
    /*box-shadow: darkgray 20px -20px;*/
    border: 1px solid black;
}

.profilePic:hover {
    transform: scale(1.15);
}

/*Styling voor de aside op de homepage.*/
.homepage {
    padding: 10% 0 40px 20px;
    line-height: 50px;
}

/*indeling van de profielfoto en about me button.*/
.home-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.home-section button {
    height: 2rem;
    width: 35%;
    margin: 5% 0 0 8%;
    background: white;
    border: black 1px solid;
}

/*Scroll container voor de Work page.*/
.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.scroll-container img {
    padding: 10px;
}

.js-logo {
    max-height: 60%;
}

/*Layout footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: footer;
    padding: 0 20px 0 20px;
    border-top: black solid 1px;
}


/*Layout main van de pagina's about, work, process en blog*/
.main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10%;
    padding-right: 5%;
}

/*Titel van de pagina's about, work en process*/
.pageTitle {
    font-size: 6vw;
    text-decoration: underline;
    font-weight: normal;
}

/*Afbeelding pagina work*/
.codePic {
    height: auto;
    width: 90%;
}

aside form {
    padding-bottom: 20%;
}

/*Rock, paper and scissors spel*/
/*Layout aside process*/
#asideGame {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

/*Layout spel*/
.game {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Text Field*/
#input {
    width: 50%;
    font-size: 20px;
    font-family: "Instrument Serif", serif;
}

/*Spel button*/
.buttonGame {
    width: 25%;
    height: 30px;
    border: black solid 1px;
    background-color: white;
}

.buttonGame:hover {
    background-color: darkgray;
}

.blogs {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 80%;
    width: 100%;
}

.input-div {
    width: 45%;
    height: 100%;
    border: 1px solid black;
}

/*Media query Tablet landscape*/
@media screen and (max-width: 950px) {
    .profilePic {
        width: 50%;
        height: auto;
    }
}

/*Media query tablet portrait*/
@media screen and (max-width: 620px) {
    body {
        display: grid;
        grid-template:
                      "header" 0.1fr
                      "main" 0.4fr
                      "aside" 0.4fr
                      "footer" 0.1fr
    / 1fr;
    }

    main {
        padding-top: 7%;
    }

    aside {
        border-left: none;
        border-top: black solid 1px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-right: 5%;
    }

    .aside-work {
        display: flex;
        justify-content: center;
    }

}

/*Media query mobile*/
/*Hier moet ik de hamburger menu gaan maken.*/
/*Ik weet alleen nog niet goed hoe het moet.*/
@media screen and (max-width: 400px) {
    aside {
        margin-right: 5%;
    }
}
